# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DatabaseUpgradeTool_Postgrees.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\Samples\DatabaseUpgradeTool_Postgrees\.idea\.idea.DatabaseUpgradeTool_Postgrees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
